/* general styles*/
header {
    min-height: 80px;
}

.site-logo-print--wrapper {
    margin-top: 5px;
}

.gov-home {
    background: #006B3F;
    color: white; 
    padding: 1.5em 0 2em 0;
    width: 100%;
}

.gov-home .row-wide {
    overflow: hidden;
}

.breadcrumbs-container {
    padding: 15px 20px;
    background: rgba(42, 121, 189, 0.1)
}

.breadcrumbs {
    margin-bottom: 0;
    background: none;
}

.main-content p {
    width: 100%;
    max-width: 100%;
}

.in-this-section a {
    width: 100%;
    text-align: left;
}

.in-this-section a span {
    position: absolute;
    top: 13px;
    right: 2%;
    transform: rotate(90deg);
    transition: all .5s ease;
}

.in-this-section a span.open {
    transform: rotate(180deg);
    transform-origin: center;
}

.in-this-section ul {
    display: none;
    margin-bottom: 25px;
}

#main-navigation {
    display: none;
}

#main-navigation ul {
    list-style: none;
    margin: 0;
    position: absolute;
    background: white;
    padding: 20px 40px;
    z-index: 10;
    right: 0;
    top:100%;
    border: 1px solid #ccc;
}

#main-navigation ul:before {
    border: 6px inset;
    border-color: transparent transparent #fff;
    border-bottom-style: solid;
    top: -12px;
    left: 10px;
    z-index: 89;
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: 70%;
}

#main-navigation ul li a {
    padding: 10px 0;
}

#main-navigation.main-nav-open {
    display: block;
}

#main-navigation-button {
    margin-right: 0;
}

#footer {
    background: #ededed;
}

main {
    background: white;
}

.government-callout {
    padding: 2rem 2rem 1rem;
    background: lightgrey;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 15px;
}

#navigation a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 5px;
}

#navigation .side-nav > li {
    margin: 0;
    border-bottom: 1.5px solid #dadada;
}

#navigation .side-nav > li:last-of-type {
    border-bottom: none;
}

#navigation span.active {
    border-left: 15px solid #0071a9;
}

.flex,
.right-header-side {
    display: flex;
    flex-direction: row;
}

.right-header-side {
    align-items: center;
    justify-content: flex-end;
}

.right-header-side #search-icon,
.right-header-side .lang-toggle {
    margin-right: 30px;
}

.right-header-side #search-icon.osap {
    margin-top: 10px;
}

.right-header-side .lang-toggle.osap {
    margin-right: 0;
    margin-top: 15px;
}

.lang-toggle a {
    color: white;
}

.right-header-side div {
    text-align: right;
}

.icon-search {
    position: relative;
    top: -5px;
    color: white;
    cursor: pointer;
}


.flex a:first-of-type {
    width: 100%;
}

.sub-nav {
    display: none;
    border-top: 1px solid #dadada;
}

.sub-nav a {
    padding: .5rem 3rem;
    display: block;
}

.sub-nav li {
    margin: 0;
}

#navigation li > span >  a {
    font-size: 18px;
    font-weight: bold;
}

#navigation li > a:hover,
.flex a:first-of-type:hover,
#navigation a.active-li  {
    background: rgba(0, 113, 169, 0.1);
    text-decoration: none;
}

.dropdown-button {
    display: flex;
    align-items: center;
}

.dropdown-button img{
    transition: .5s ease;
    display: block;
    text-align: center;
}

.dropdown-button img.active {
    transform: rotate(90deg);
    transform-origin: center;
}

.service-ontario-callout {
    background: #306a44;
    text-align: center;
}

.service-ontario-callout a,
.service-ontario-callout h1 {
    color: white !important;
}

.service-ontario-callout a {
    padding: 4em;
    display:block;
}

.service-ontario-callout:hover a {
    text-decoration: underline !important;
}

/* mobile styles*/
.hamburger {
    padding-bottom: 10px;
    display: block;
    float: left;
}

.hamburger p {
    color: white;
    margin-bottom: 0;
}

  .nav-search {
      margin-top: 15px;
      border-bottom: 1.5px solid #dadada;
  }

  .nav-search-input {
      padding-right: 0;
  }

  .nav-search-input input {
      margin-bottom: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 0;
  }

  .nav-search-button {
      padding-left: 0;
  }

  .nav-search-button input{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid #cccccc;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.75);
      background: white;
      outline: none;
      box-shadow: 0;
      padding: .4rem;
      width: 100%;
      margin-bottom: 20px;
  }

  .nav-search-button input:hover {
    background: grey;
  }

  .navigation-index {
    display: none !important;
}

/*Search popup*/
#search-popup {
    display: none;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}

#search div {
    padding: 0 !important;
}

#search input {
    border: 1px solid grey;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#search button {
    background: #2A79BD;
    color: white;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close a {
    padding: 10px;
    z-index: 10;
    font-size: 25px;
    color: black;
}

.close a:hover {
    text-decoration: none;
}

/*OSAP*/
main .osap-header {
    background: rgba(42, 121, 189, 0.1);
}

/* media queries */
@media (max-width: 1600px) {
    .service-ontario-callout h1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 1300px) {
    .service-ontario-callout a {
        padding: 2rem;
    }
}
@media (max-width: 800px) {
    .government-callout {
        padding: 2rem 1rem;
    }

    /* #navigation .side-nav .flex a {
        padding: 1rem;
        font-size: 16px;
    } */
}

@media (max-width: 770px) {
    #main-navigation ul {
        width: 120%;
    }
}
@media (max-width: 700px) {
    .flex a:first-of-type {
        width: 80%;
    }

    .dropdown-button.active {
        transform: rotate(90deg);
        /* display:block; */
        /* transform-origin: 40%; */
    }
}

@media (max-width: 640px) {
    #main-navigation ul {
        width: auto;
    }

    .in-this-section a span {
        right: 5%;
    }

    header {
        min-height: 80px;
        padding-top: .8rem;
    }

    #main-navigation ul:before {
        left: 77%;
    }

    .right-header-side #search-icon, 
    .right-header-side .lang-toggle {
        margin-right: 15px;
    }

    .flex a:first-of-type {
        width: 100%;
    }

    #logo {
        position: absolute;
        top: 7px;
        z-index: 90;
    }

    .government-callout {
        display: none;
    }

    .service-ontario-callout a {
        padding: 2.3rem;
    }

    .thumbnail {
        display: none;
    }

    main.search-popup-active {
        opacity: .1;
        background: rgba(0, 0, 0, 1);
    }
}

@media (max-width: 400px) {
    .right-header-side #search-icon, 
    .right-header-side .lang-toggle {
        margin-right: 10px;
    }
}