/* general styles*/
#navigation {
    padding-left: 0;
    padding-right: 0;
    background: white;
    overflow: scroll;
    height: 100%;
    z-index: 100;
}

#footer {
    background: #ededed;
}

main {
    background: white;
}

.government-callout {
    padding: 2rem 2rem 1rem;
    background: lightgrey;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
}

#navigation a {
    color: #333333;
    text-decoration: none;
}

#navigation .side-nav {
    border-right: 1.5px solid #dadada;
}

#navigation .side-nav > li {
    margin: 0;
    border-bottom: 1.5px solid #dadada;
}

#navigation span.active {
    border-left: 15px solid #0071a9;
}

#navigation .side-nav .flex a {
    padding: 1rem 1rem 1rem 2rem;
}

#navigation .side-nav .flex a:last-of-type {
    padding: 1rem;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex a:first-of-type {
    width: 100%;
}

.sub-nav {
    display: none;
    border-top: 1px solid #dadada;
}

.sub-nav a {
    padding: .5rem 3rem;
    display: block;
}

.sub-nav li {
    margin: 0;
}

#navigation li > span >  a {
    font-size: 18px;
    font-weight: bold;
}

#navigation li > a:hover,
.flex a:first-of-type:hover,
#navigation a.active-li  {
    background: rgba(0, 113, 169, 0.1);
    text-decoration: none;
}

.dropdown-button {
    display: flex;
    align-items: center;
}

.dropdown-button img{
    transition: .5s ease;
    display: block;
    text-align: center;
}

.dropdown-button img.active {
    transform: rotate(90deg);
    transform-origin: center;
}

.service-ontario-callout {
    background: #306a44;
    text-align: center;
}

.service-ontario-callout a,
.service-ontario-callout h1 {
    color: white !important;
}

.service-ontario-callout a {
    padding: 4em;
    display:block;
}

.service-ontario-callout:hover a {
    text-decoration: underline !important;
}

/* mobile styles*/
.hamburger {
    padding-bottom: 10px;
    display: block;
    float: left;
}

.hamburger p {
    color: white;
    margin-bottom: 0;
}

#nav-icon {
    width: 45px;
    height: 30px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 12px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 25px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .nav-search {
      margin-top: 15px;
      border-bottom: 1.5px solid #dadada;
  }

  .nav-search-input {
      padding-right: 0;
  }

  .nav-search-input input {
      margin-bottom: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 0;
  }

  .nav-search-button {
      padding-left: 0;
  }

  .nav-search-button input{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid #cccccc;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.75);
      background: white;
      outline: none;
      box-shadow: 0;
      padding: .4rem;
      width: 100%;
      margin-bottom: 20px;
  }

  .nav-search-button input:hover {
    background: grey;
  }



  .navigation-index {
    display: none !important;
}

/* media queries */
@media (max-width: 1600px) {
    .service-ontario-callout h1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 1300px) {
    .service-ontario-callout a {
        padding: 2rem;
    }
}
@media (max-width: 800px) {
    .government-callout {
        padding: 2rem 1rem;
    }

    #navigation .side-nav .flex a {
        padding: 1rem;
        font-size: 16px;
    }
}
@media (max-width: 700px) {
    .flex a:first-of-type {
        width: 80%;
    }

    .dropdown-button.active {
        transform: rotate(90deg);
        /* display:block; */
        /* transform-origin: 40%; */
    }
}

@media (max-width: 640px) {
    #navigation {
        padding-right: 0;
        display: none;
        position: absolute;
        z-index: 10;
        background: white;
    }

    header {
        min-height: 80px;
        padding-top: 1rem;
    }

    .flex a:first-of-type {
        width: 100%;
    }

    #logo {
        position: absolute;
        right: 5%;
        top: 10px;
    }

    .government-callout {
        display: none;
    }

    .service-ontario-callout a {
        padding: 2.3rem;
    }

    .thumbnail {
        display: none;
    }

    #navigation {
        overflow: none;
        position: static;
    }
}